{% load static %}
{% include 'header.html' %}


    <div class="container-fluid">
        <div class="container">
            <p class="text-center alert alert-info mt-5">Poll</p>
        <!-- messages -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{message}}
            </div>
        {% endfor %}
        {% endif %}

                   <!-- Add Question Form -->
    <form action="" method="post">
        <div class="form-group" >
            {% csrf_token %}
          <label for="choice">Add Choice</label>
          <input type="text" name="choice" class="form-control" id="choice" aria-describedby="emailHelp" placeholder="Enter question">
        </div>
        <select class="form-select mt-3" name="select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            {% if options %}
            {% for option in options %}
            <option value="{{option.id}}">{{option.title}}</option>
            {% endfor %}
            {% endif %}
</select>
        <input type="submit" name="submit" class="btn btn-primary mt-3 center" value="Submit">
        <a href="{% url 'addquesion' %}" class="btn btn-info mt-3 center">Add Question</a>
      </form>

    </div>
    </div>


