{% load static %}
{% include 'header.html' %}

  <div class="container-fluid">
    <div class="container">
      <p class="text-center alert alert-info mt-5">Poll</p>
      <!-- messages -->
      <a href="{% url 'quiz' %}" class="btn btn-info mt-3 mb-3 center">Go to Poll</a>

      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> {{message}}
      </div>
      {% endfor %}
      {% endif %}

      <!-- Add Question Form -->
      <form action="" method="post">
        <div class="form-group">
          {% csrf_token %}
          <label for="qs">Add Question</label>
          <input type="text" name="ques" class="form-control" id="qs" aria-describedby="emailHelp"
            placeholder="Enter question">
        </div>
        <input type="submit" name="submit" class="btn btn-primary mt-3 center" value="Submit">
        <a href="{% url 'addchoice' %}" class="btn btn-info mt-3 center">Add Choices</a>
      </form>

    </div>
  </div>

