{% load static %}
{% include 'header.html' %}

    <div class="container-fluid">
        <div class="container">
            <p class="text-center alert alert-info mt-5">Poll</p>
            <!-- Messages -->
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> {{message}}
            </div>
            {% endfor %}
            {% endif %}

            <form action="" method="Post">
                {% csrf_token %}
                {% for question1 in question %}
                <h4><span>{{ forloop.counter }} : </span> {{question1.title}}</h4>
                {% for choice in choices %}
                {% if question1.id == choice.question.id %}
                <input type="radio" name="{{question1.id}}" value="{{choice.id}}" required> {{choice.title}} (Vote =
                {{choice.total_votes}} )<br>
                {% endif %}
                {% endfor %}

                {% endfor %}
                <input type="submit" value="submit" class="btn btn-success m-2">
            </form>


            <a href="{% url 'addquesion' %}" class="btn btn-info mt-3 center">Add Question</a>

        </div>
    </div>


