{% load static %}
{% include 'header.html' %}

<div class="container-fluid">
    <div class="container"> 
    <!-- search Form  -->
    <form action="" method="get" class="mt-5">
        <input type="search" name="q" class="form-control" placeholder="Search">
    </form>
    {{value}}
    
    <!-- Show All Users  -->
    <div class="table-responsive mt-5">
        <table class="table table-hover mt-2">
            <thead>
                <tr style="border: 1px solid black;">
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="">
                    <td scope="row">{{user.id |safe}}</td>
                    <td>{{user.username|safe}}</td>
                    <td>{{user.email |safe}}</td>
                    <td>{{user.password}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <a href="{% if user.is_teacher %} {% url 'addquesion' %} {% else %} {% url 'quiz' %} {% endif %} " class="btn btn-info mt-3 center">Home</a>
 </div>
 </div>